* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color01: #6254bf;
  --color02: #dcecf2;
  --color03: #a79bf2;
  --color04: #372673;
  --color05: #0d0d0d;
  --color06: #8b88f2;
  --color07: #ffc52f;
  --color08: #b0eef5;
  --color09: #ffffff;
  --color10: #756aba;
}

body {
  background-color: var(--color02);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  max-width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#logo {
  text-align: center;
  padding: 24px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--color03);
  border: 1px solid var(--color06);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  color: var(--color09);
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--color10);
  border: 1px solid var(--color04);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 16px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a img {
  width: 30px;
  height: 30px;
}

#social-links a:hover {
  background: var(--color09);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 18px;
  color: var(--color05);
}

footer a {
  color: var(--color07);
  text-decoration: none;
}
